:root{
    --color-1: #d0d3da;
    /* --color-background: #f0f0f0; */
    --color-3: white; /* #fbff07*/
}


.center_horizontal{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}