.links_container {
  width: 100%;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vh;
}
.links_container div {
  color: white;
  margin-left: 2vw;
  line-height: 25px;
}

.links_container ul:before {
  float: right;
  content: attr(aria-label);
  color: white;
  font-weight: bold;
}
.links_container ul {
  width: 100%;
  list-style-type: none;
}
.links_container ul li {
  text-align: right;
  cursor: pointer;
}
