.small__carousel_container {
  width: 100%;
  height: 70vh;
  position: relative;
  background-color: var(--color-1);
  border-bottom: var(--color-3) solid 2px;
}

.small__carousel {
  background-color: #fff;
  width: 100%;
  height: 90%;
  margin: 0;
}

.title {
  height: 20%;
}

.container__carousel {
  width: 90%;
  height: 80%;
  margin: auto;
  position: relative;
}

.CarouselProvider {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container__carousel .CarouselProvider .Slider {
  width: 100%;
  height: 100%;
}

.container__carousel .CarouselProvider .Slider div {
  height: 100%;
}

.container__carousel .CarouselProvider .Slider div ul {
  height: 100%;
  position: relative;
}
.container__carousel .CarouselProvider .Slider ul li {
  top: 50%;
  transform: translateY(-50%);
}

img {
  width: 80%;
  height: auto;
  border-radius: 5px;
}

.container__carousel .CarouselProvider button {
  display: none;
  width: 5deg;
  height: 5deg;
  outline: none;
  color: black;
  font-size: 20px;
  border-radius: 100%;
  border: 1px solid #111111;
  background-color: transparent;
  font-weight:bold ;
}

