.small__carousel_container {
  width: 100%;
  height: 92vh;
  position: relative;
  background-color: var(--color-background);
  border-top: var(--color-3) solid 1px;
  /* border-bottom: var(--color-3) solid 1px; */
}

.small__carousel {
  background-color: #fff;
  width: 100%;
  height: 70%;
  margin: 0;
}

img {
  width: 90%;
  height: auto;
  border-radius: 5px;
  border: 1px solid #fff;
}

.title {
  height: 0%;
}

.container__carousel {
  height: 100%;
  position: relative;
}

.CarouselProvider {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container__carousel .CarouselProvider .Slider {
  width: 100%;
  height: 100%;
}

.container__carousel .CarouselProvider .Slider div {
  height: 100%;
}

.container__carousel .CarouselProvider .Slider div ul {
  height: 100%;
  position: relative;
}
.container__carousel .CarouselProvider .Slider ul li {
  top: 50%;
  transform: translateY(-50%);
}

.container__carousel .CarouselProvider .ButtonBack {
  display: none;
  width: 50px;
  font-weight: bold;
  outline: none;
  color: white;
  font-size: 20px;
  background-color: black;
  border-radius: 50px;
  height: 5vh;
}

.container__carousel .CarouselProvider .ButtonNext {
  display: none;
  width: 50px;
  font-weight: bold;
  outline: none;
  color: white;
  font-size: 20px;
  border-radius: 50px;
  background-color: black;
  height: 5vh;
}

/* 
@media screen and (max-width: 900px) {
  .container__carousel .CarouselProvider .ButtonNext {
    display: none;
  }
  .container__carousel .CarouselProvider .ButtonBack {
    display: none;
  }

  .small__carousel {
    height: 300px;
  }

  .Slider img {
    border: none;
    width: 180px;
    height: 180px;
  }
} */
