.photosFromEvents_container {
  width: 100%;
  height: auto;
  background-color: var(--color-1);
  /* border: 1px solid #111; */
}
.gallery {
  width:88%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(14, 5vw);
  grid-template-rows: repeat(12, 5.8vh);
  grid-gap: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item_1 {
  grid-column-start: 11;
  grid-column-end: 15;
  grid-row-start: 8;
  grid-row-end: 13;
}


.gallery__item_5 {
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 8;
  grid-row-end: 13;
}


.gallery__item_3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 13;
}

 .gallery__item_6 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 7;
} 

.gallery__item_8{
  grid-column-start: 5;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 7;
}


.gallery__item_text1{
  direction: rtl;
  grid-column-start: 12;
  grid-column-end: 15;
  grid-row-start: 2;
  grid-row-end: 8;
}



.gallery__item_text2{
  direction: rtl;
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 14;
}