.about__div{
    background-color:#ffffff;
    margin-bottom: 10vh;
    height: 80vh;
}


.about__div .left{
    
    display: inline-block;
    width: 15vw;
    height: 85vh;
}


.about__div .right{
        
    display: inline-block;
    width: 15vw;
    height: 85vh;
}


.block__div{
    display: inline-block;
    position: relative;
    width: 50%;
}

.about__div article{
    position: static;
    transform: translateY(+50%);
}