.footer__container {
width:100%;
background-color:rgba(0, 0, 0, 0.021);
position: absolute;
bottom: 0;
clear:both;
height:80px;
border-bottom: 2px solid rgb(0, 0, 0);



}

.icons__row {
    margin:0 auto;
    width:10%;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    font-size:30px;
    cursor:pointer;
    
}

.row__item {
    margin-top:10px;
    margin-bottom: 0px;
}

@media (max-width: 900px) {
    .icons__row {
        font-size:20px;
    }
    .row {
        width:80%;
    }
}