.footer__container {
  width: 100%;
  height: 40vh;
  background-color: var(--color-1);
  opacity: 0.9;
  /* position: absolute; */
  bottom: 0;
  clear: both;
  border-top: 1px solid var(--color-3);
}

.icons__row {
  margin: auto;
  height: 8vh;
  width: 20%;
  display: flex;
  font-size: 30px;
  cursor: pointer;
}

.icons__row div {
  width: 100%;
}

.icons__row div svg {
  margin: auto;
}

@media (max-width: 900px) {
  .icons__row {
    font-size: 20px;
  }
  .row {
    width: 80%;
  }
}
