.footer__container {
width:100%;
background-color:rgb(74, 72, 75);
position: absolute;
bottom: 0;
clear:both;
height:210px;
border-bottom: 2px solid rgb(74, 72, 75);
}

.footer__container hr {
    border:1px solid black;
}
.row {
    margin:0 auto;
    width:50%;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}
.icons__row {
    margin:0 auto;
    margin-left:70%;
    width:10%;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    font-size:30px;
    cursor:pointer;
}
.row__item li {
   /* list-style-type: none; */
    text-decoration: underline;
    font-style: italic;
    transition: color 0.2s;

}
.row__item li:hover {
    color:rgb(143, 143, 143);
    transition: color 0.2s;
}
.row__item {
    margin-top:30px;
    margin-bottom: 20px;
}


@media (max-width: 900px) {
    .icons__row {
        font-size:20px;
    }
    .row {
        width:80%;
    }
}